.app {
  margin: 16px;
  display: flex;
  flex-direction: row;
}

.app-editor {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.app-preview {
  width: 50%
}

.app-html {
  height: 40vh;
}

.app-api {
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}