.app {
  margin: 16px;
  display: flex;
  flex-direction: row;
}

.app-editor {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.app-preview {
  width: 50%
}

.app-html {
  height: 50vh;
}

.app-api {
  height: 30vh;
}